# ============================================
# APPLICATION
# ============================================

APP_ENV=dev
APP_DEBUG=1
APP_SECRET=

APP_SHARE_DIR=/share
DEFAULT_URI=http://localhost


# ============================================
# NGINX
# ============================================

NGINX_PORT=80


# ============================================
# POSTGRES
# ============================================

POSTGRES_USER=symfony
POSTGRES_PASSWORD=
POSTGRES_DB=symfony_dev
POSTGRES_PORT=5432

DB_SERVER_VERSION=17
DB_CHARSET=utf8
DB_COLLATION=en_US.utf8


# ============================================
# DATABASE SCHEMAS
# ============================================

AUTH_DB_SCHEMA=auth
VERIFICATION_DB_SCHEMA=verification
EMAIL_DB_SCHEMA=email
DICTIONARIES_DB_SCHEMA=dictionaries


# ============================================
# REDIS
# ============================================

REDIS_URL=redis://redis:6379


# ============================================
# MAIL
# ============================================

MAIL_FROM_ADDRESS=noreply@onmi.pro
MAIL_FROM_NAME=ONMI
MAILER_DSN=


# ============================================
# KAFKA
# ============================================

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_SASL_MECHANISM=

KAFKA_GROUP_ID=event-worker-group

KAFKA_TOPIC_VERIFICATION_EVENT=verification_events
KAFKA_TOPIC_AUTH_EVENT=auth_event
KAFKA_TOPIC_BITRIX_EVENT=bitrix_event


# ============================================
# LOCAL KAFKA CONTAINER
# ============================================

KAFKA_NODE_ID=1

KAFKA_PROCESS_ROLES=broker,controller

KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093

KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092

KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER

KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT

KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093

KAFKA_CLUSTER_ID=kraft-cluster-1

KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1

KAFKA_AUTO_CREATE_TOPICS_ENABLE=true


# ============================================
# JAVA SERVICES
# ============================================

SERVER_PORT_JAVA=8080


# ============================================
# INTERNAL SERVICE URLS
# ============================================

EMAIL_SERVICE_URL=http://nginx
AUTH_SERVICE_URL=http://nginx
DICTIONARY_SERVICE_URL=http://nginx


BITRIX_SERVICE_URL=http://nginx

KAFKA_GATEWAY_URL=http://nginx/event/

DICTIONARY_CACHE_TTL=30

DICTIONARY_CACHE_VERSION=v2

TZ=UTC


# ============================================
# Версионирвоание микросервисов
# ============================================
EMAIL_APP_NAME=email-service
EMAIL_APP_VERSION=3.0.0


# ============================================
# SMS - сервис
# ============================================

# Generate a random internal credential; never expose to browser code.
WEB_SERVICE_INTERNAL_TOKEN=
